* {
    padding: 0;
    margin: 0;
}

.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header{
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}