@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@300;400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.buttons {
    /* align-self: flex-start; to have it aligned where it starts */ 
    display: flex;
    gap: 20px;
}

.google-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.twitter-btn {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover {
    opacity: 0.6;
}

.twitter-btn:hover {
    opacity: 0.6;
}

.google-btn picture {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-btn picture{
    width: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img {
    width: 75%;
}

.twitter-btn picture img {
    width: 75%;
}

.google-btn span {
    color: white;
    font-weight: 500;
    padding: 15px;
}